<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="sidenav">
        <a routerLink="/">
            <i class="fas fa-home"></i>
            Home </a>
        <a routerLink="/">
            <i class="fa-solid fa-user"></i>
            Profile</a>
        <a routerLink="/">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search</a>
        <a routerLink="/">
        <i class="fa-solid fa-heart"></i> 
            favourite</a>
        <a routerLink="/">
    <i class="fa-solid fa-gear"></i>
            settings</a>

            <button (click)="navigateToAnotherComponent()">Cals</button>
            <button (click)="userDet()">user</button>
  </div>
    
  

</body>
</html>
